@import "../components/colors/colors.scss";


@font-face {
  font-family: 'work-sans';
  src: url('../assets/fonts/WorkSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'spaceMono';
  src: url('../assets/fonts/SpaceMono-Bold.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: #FFFFFF;
}

.app{
  display: flex;
  flex-direction: column;
  gap: 3rem 0px;
  margin-bottom: 5rem;
}