@import "../colors/colors.scss";



.creators{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .creators_Item{
    background-color: $background-color-secundary;
    border-radius: 20px;
    width: 315px;
    height: 100px;
    margin: 20px 10px;
    padding: 1rem;
    display: flex;
    transition: .3s;
    &>*{
      background-color: transparent;
    }
    &:hover{
      transform: scale(.93);
    }
  .position{
    background-color: $primary-color;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    opacity: .8;
    position: absolute;
    }
  .textsClass> *{
    margin-left: 20px;
    background-color: transparent;
  }
  }
  .isActived{
    display: none;
  }
}

@media(min-width: 1200px){
  .creators{
      

    .isActived{
      display: flex;
    }
  }
}
