@import "../colors/colors.scss";




.titleSection03{
  grid-area: title;
}

.buttonRankings{
  display: flex;
  justify-content: center;

  .buttonLg{
    max-height: 70px;
  } 
}

.creators{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: creators;

  .creators_Item{

  .position{
    color: #FFFFFF;
    font-weight: 500;
    background-color: $primary-color;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    opacity: .8;
    position: absolute;
    }
    .textsClass> *{
      margin-left: 20px;
      background-color: transparent;
    }
  }
  
  .isActived{
    display: none;
  }
}


@media(min-width: 830px){
  .section03{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
      "title button"
      "creators creators"
    ;
  }
}


@media(min-width: 1200px){
  .section03{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .creators{
    .creators_Item{
      width: 240px;
      height: 238px;
      flex-direction: column;
      text-align: center;

      img{
        width: 120px;
        height: 120px;
        align-self: center;
        margin-bottom: 1rem;
      }
      .textsClass> *{
        margin-left: 0px;
      }
    }
    .isActived{
      display: flex;
    }
  }
}
