@import '../../mixinsSass/mixin.scss';


.numbers-section1{
  margin-top: 1rem;
  font-size: 1rem;
  font-family: 'spaceMono', sans-serif;
  @include alingment(flex, row, center, center, 0.8rem);
  
}