@import '../../colors/colors.scss';


.getStart{
  padding:1.2rem 9rem;
  border-radius: 20px;
  background: $primary-color;
  color: #ffff;
  transition: 0.3s;
  display: flex;
  place-content: center;
  align-items: center;
  font-family: 'work-sans', sans-serif;

  &:hover{
    transform: scale(0.9);
  }
}