@import '../mixinsSass/mixin.scss';
@import '../colors/colors.scss';


.section01{
  @include alingment(flex, column, null, center,2rem);


  /* --------- Titulo principal-----------*/
  .titleSection01{
    h1{
      font-size: 2rem;
      
    }
  }
  
  /* --------- Números principais-----------*/
  .numbersSection01{
    h5{
      font-family: 'spaceMono', sans-serif;
    }
  }
}


@media(min-width: 800px){
  .section01{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title mediumCard"
      "button mediumCard"
      "numbersSection mediumCard";

   .titleSection01{
    grid-area: title;
    
   }
   .mediumCard{
    width: 100%;
    grid-area: mediumCard;
   }

   .buttonLg{
    width: 224px;
    grid-area: button;
   }

   .numbersSection01{
    grid-area: numbersSection;
    

    h5{
      font-size: 1.4rem;
    }
    span{
      font-size: 1rem;
      color: $Segundary-color;

    }
   }

  }
}

@media(min-width: 1000px){
  .section01{

    grid-template-rows: 1fr 2fr 1fr 2fr;
   .titleSection01{
    h2{
      font-size: 3rem;
    }
    p{
      font-size: 1.4rem;
    }
   }

   .buttonLg{
    width: 270px;
   }
   .numbersSection01{
    width: 100%;
    @include alingment(flex, row, space-between, center, 1rem);
    h2{
      font-size: 1.7rem;
    }
    span{
      font-size: 1.4rem;

    }
   }

  }
}









































@media(min-width: 800px){
  .section01{
    min-height: 381px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title mediumCard"
      "buttonLg mediumCard"
      "numbersSection mediumCard";
    gap: 10px 10px;
    .title{
      grid-area: title;
      h1{
        font-weight:bold;
      }
      
    }
    .heroImg-section01{
      grid-area: mediumCard;
    }
    .ButtonLg-section1{
      padding: 8px 50px;
      grid-area: buttonLg;
    }
    .numbers-section1{
      grid-area: numbersSection;
    }
  }
}