


@import '../mixinsSass/mixin.scss';

.section01{
  margin-top: 4rem;
  min-height: 100vh;
  @include alingment(flex, column, null, center, null);
}

@media(min-width: 800px){
  .section01{
    min-height: 381px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title mediumCard"
      "buttonLg mediumCard"
      "numbersSection mediumCard";
    gap: 10px 10px;
    .title{
      grid-area: title;
      h1{
        font-weight:bold;
      }
      
    }
    .heroImg-section01{
      grid-area: mediumCard;
    }
    .ButtonLg-section1{
      padding: 8px 50px;
      grid-area: buttonLg;
    }
    .numbers-section1{
      grid-area: numbersSection;
    }
  }
}